<div class = "container">

<div class = "col-md-8">
<h1>About the Cosmic Crew</h1>
<p>The cosmic crew is a small group of about 30	 avid astronomers.</p>
<p>Set up 3 years ago we are a tight knit community and love to share all of our photos with each other. This site contains our repository of photos that our members have uploaded</p>

<p>We're always looking for new members, but we do need to individually accept applicants. If you would like to join please create an account and contact Mr. King. If accepted your account will be elevated from a guest to a member.</p>

<br/>
<b>Contact details</b>
<p>Alex King: AlexKing@CosmicCrew.com</p>
</div>

<div class = "col-md-4" align = "middle">
	<br/><br/>
	<%= image_tag("/static/Alex Small.jpg", id: "image") %>
	<p>Alex King, founder of the Cosmic Crew</p>
</div>

</div><!-- Container -->