<div class = "container">
<div class = "col-md-12">
<h1>Welcome to the Cosmic Crew</h1>
<p>A group of amateur celestial photographers</p>

<%= image_tag("/static/astronomers.jpg", align: "left") %><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<h2>Latest news</h2>

<b>28th of April</b>
<p>This is an example of a place where news could be posted</p>

<b>27th of April</b>
<p>Another, earlier, piece of news</p>
</div>
</div>