// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formfield * {
	vertical-align: top;
}

#grid {
	width: 700px;
}

.clear {
	clear: both;
}

.grid-element {
	width: 200px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
}